.app-header{
    height:250px;
    border-bottom: thin rgb(59, 53, 53) solid;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

.app-header--title{
    align-self: center;
}

.nav-links{
    display:flex;
    justify-content: center;
}

.nav-links a{
    padding:0 30px;
    font-size: 24px;
    text-decoration: none;
    color: rgb(2, 47, 41);
}

.filter-section{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.date-picker{
    color:gray
}

.dropdown{
    width: 260px;
    padding: 0 40px;
}